body {
    padding-bottom:145px;  /*フッターーの後ろに要素が隠れないようにするため */
}

.yagou{
    width: 60%;
    height: 70%;
}
.event{
    width: 40%;
    height: 100%;
}
INPUT.ev{
    /*INPUT イベント名・店舗名部*/
    border-right:none;
    border-left:none;
    border-top:none;
    border-color:#fff;
    text-align:center;
    font-size: 1.7rem;
    font-weight: 600;
    color: #fff;
    position: fixed; /* ウィンドウを基準に画面に固定 */
    top: 0; /* 上下の固定位置を上から0pxにする */
    right: 0; /* 左右の固定位置を左から0pxにする */
    height:50px;     
    width:20rem;
    /*background: #ff838b;*/
    background:transparent;
    padding:0;
    -webkit-border-radius : 0;
}

INPUT.date{
    /*INPUT イベント名・店舗名部*/
    border-right:none;
    border-left:none;
    border-top:none;
    border-color:#fff;
    
    font-size: 1.3rem;
    /*font-weight: 600;*/
    color: #fff;

    height:30%;
    width:12rem;
    background:transparent;
    padding:0;
    -webkit-border-radius : 0;
}


.items{
    /*width:46%;*/
    /*margin:5px 2%;*/
    /*height:200px; */
    padding:5px;
    height:12rem; 
    line-height:80%; 
    /*background:#eb6100;*/
    background:#fff;
    text-align:center;
    font-size: 0;
    
}
.ordered{
    width:100%;
    margin:0; 
    padding:0;
    height:35%; /*itemsの下20％部分。上はメニューボタン*/
    line-height:21px; 
    background:#fff;
    text-align:center;
    font-size: 2.0rem;
    font-weight: 700;
   
}
INPUT.order{
    border:none;
    text-align:left;
    font-size: 2.2rem;
    font-weight: 700;
    background:#fff;
}
INPUT.tanka{
    /*INPUT 単価部*/
    width:40%;
    /*text-align:center;*/
}
INPUT.su{
    /*INPUT 数量部*/
    width:20%;
}


footer{
    /*background: #ffce5b;*/
    height: 120px; /* 高さを50pxに指定 */
    position: fixed; /* ウィンドウを基準に画面に固定 */
    bottom: 0;
    Right: 0;
    width: 100%;
    display: flex;    
    flex-wrap:wrap
}

.kaikei{
    width:100%;
    height:60px;
    margin:10px 0 auto; /*中央寄せ*/
    text-align:center;
    font-size: 2.5rem;
    font-weight: 800;
}
.right3{
    /*クリアボタンエリア*/
    width:33%;
    height:60px;
    text-align:center;
}
.right2{
    /*確認・登録ボタンエリア*/
    width:34%;
    height:60px;
}
.right1{
    /*電卓ボタンエリア*/
    width:33%;
    height:60px;
}

.btn--commit{
    /*注文ボタン*/
    color: #fff;
    background-color: #eb6100;
    height:100%; 
    width:100%;
    font-size: 2rem;
}
.btn--chk{
    /*確認ボタン*/
    height:100%; 
    width:100%;
    font-size: 2rem;
}

#azukari{
    /*INPUT 数量部*/
    border-right:none;
    border-left:none;
    border-top:none;
    border-color:#808080;
    text-align:center;
    font-size: 5rem;
    font-weight: 600;
    /*color: #fff;*/
    /*height:80%;     */
    width:90%;
    background: #fff;
    padding:0;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}



