body {
    padding-bottom:50px; /*フッターーの後ろに要素が隠れないようにするため */
    font-size:1.1rem;
/*    font-family: 'Kosugi Maru', sans-serif;*/
}
INPUT{
    height:20px;
}

footer{
    background: #ffce5b;
    height: 50px; /* 高さを50pxに指定 */
    position: fixed; /* ウィンドウを基準に画面に固定 */
    bottom: 0;
    Right: 0;
    width: 100%;
    display: flex;    
    font-size:3rem;
    z-index: 99;
}
.kaikei{
    width:70%;
    height:50px;
    margin:10px 0 auto; /*中央寄せ*/
    text-align:center;
    font-weight: 800;
}
.right1{
    /*クリアボタンエリア*/
    background: #6fb5ff;
    width:30%;
    height:50;
    text-align:center;
}
.btn--chk,
a.btn--chk {
    /*確認ボタン*/
    color: #fff;
    background-color: #9acd32;
    height:100%; 
    font-size: 2rem;
}
.btn,
a.btn,
button.btn {
    width:100%; /*親要素と同じ幅*/
    font-weight: 700;
    line-height: 1.5;
    position: relative;
    display: inline-block;
    padding: 1rem; /*ボタン文字エリアとボタン外枠の間*/
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    letter-spacing: 0.1em;
    color: #212529;
    border-radius: 0.5rem;
    white-space: normal;
}
