.common_body {
    padding-top:130px;
    padding-bottom:90px; /*フッターーの後ろに要素が隠れないようにするため */
    font-size:1.5rem;
    /*padding-top:130px;*/
}
.yagou{
    width: 100%;
    height: 80%;
}
INPUT{
    height:30px;
}

.header2{
    padding: 5px 2px; /* ヘッダーに上下左右それぞれ余白を指定 */
    box-sizing: border-box; /* padding分を含んで幅を100%にするため */
    position: fixed;  /*ウィンドウを基準に画面に固定 */
    top: 70px;  /*上下の固定位置を上から0pxにする */
    left: 0; /* 左右の固定位置を左から0pxにする */
    width: 100%;
    height: 60px;
    z-index: 99;
    background:#fff;
    display:flex;
}
.th1{
    position: sticky;
    top:130px;
    background:#fff;
}
th{
    position: sticky;
    top:159px;
    background:#fff;
}
/*
.hyouji{
    position:fixed;
    top:95px;
    right:0;
}
*/
td{
    border:1 0;
}