.yagou{
    width: 60%;
    height: 70%;
}
.event{
    width: 40%;
    height: 100%;
}
INPUT.ev{
    /*INPUT イベント名・店舗名部*/
    border-right:none;
    border-left:none;
    border-top:none;
    border-color:#fff;  /*下線・色固定*/
    text-align:center;
    font-size: 1.7rem;
    font-weight: 600;
    color: #fff;
    position: fixed;    /* ウィンドウを基準に画面に固定 */
    top: 0;             /* 上下の固定位置を上から0pxにする */
    right: 0;           /* 左右の固定位置を左から0pxにする */
    height:50px;     
    width:16rem;
    /*background: #ff838b;*/
    background:transparent;
    padding:0;
}
/*レジボタン*/
.btn--rezi{
    height:70%;     
    width:100%; 
    font-size: 2.0rem;
}

INPUT.date{
    /*INPUT イベント名・店舗名部*/
    border-right:none;
    border-left:none;
    border-top:none;
    border-color:#fff;  /*下線・色固定*/
    
    font-size: 1.3rem;
    /*font-weight: 600;*/
    color: #fff;

    height:30%;
    width:12rem;
    background:transparent;
    padding:0;
}
INPUT{
    -webkit-border-radius : 0;
}

.items{
    padding:5px;
    height:12rem; 
    line-height:80%; 

    background:transparent;
    text-align:center;
    font-size: 0;
}
.ordered{
    width:100%;
    margin:0; 
    padding:0;
    height:35%; /*itemsの下20％部分。上はメニューボタン*/
    line-height:21px; 
    background:transparent;
    text-align:center;
    font-size: 2.0rem;
    font-weight: 700;
   
}
INPUT.order{
    border:none;
    text-align:left;
    font-size: 2.2rem;
    font-weight: 700;
    background:transparent;
}
INPUT.tanka{
    /*INPUT 単価部*/
    width:40%;
    padding:0;
    /*text-align:center;*/
    -webkit-appearance: none;
    -moz-appearance:textfield;
}
INPUT.su{
    /*INPUT 数量部*/
    width:20%;
    padding:0;
    -webkit-appearance: none;
    -moz-appearance:textfield;
}

.kaikei{
    width:100%;
    height:50px;
    margin:0px 0 auto; /*中央寄せ*/
    text-align:center;
    font-size: 3.5rem;
    font-weight: 800;

    border:solid;
    border-top:var(--rez-border-top);
    border-top-width:thin;
    border-left:none;
    border-right:none;
    border-bottom:none;
    border-color:var(--rez-border-color);
}
.right3{
    /*クリアボタンエリア*/
    width:33%;
    height:60px;
    text-align:center;
}
.right2{
    /*確認・登録ボタンエリア*/
    width:34%;
    height:60px;
}
.right1{
    /*電卓ボタンエリア*/
    width:33%;
    height:60px;
}

.btn--commit{
    /*注文ボタン*/
    color: var(--order-font-color);
    background-color: var(--order-color);
    height:100%; 
    width:100%;
    font-size: 2rem;
    border-radius:0;
    border:solid;
    border-width:thin;
    border-top:var(--rez-border-top);
    border-top-width:thin;
    border-left:none;
    border-right:none;
    border-bottom:none;
    border-color:var(--rez-border-color);
}
.btn--chk{
    /*確認ボタン*/
    color: var(--chk-font-color);
    background-color: var(--chk-color);
    height:100%; 
    width:100%;
    font-size: 2rem;
    border-radius:0;
    /*border:none;*/
    
    border:solid;
    border-width:thin;
    border-top:var(--rez-border-top);
    border-top-width:thin;
    border-bottom:none;
    border-color:var(--rez-border-color);
    
}

#azukari{
    /*お釣り計算*/
    border-right:none;
    border-left:none;
    border-top:none;
    border-color:#808080;
    text-align:center;
    font-size: 5rem;
    font-weight: 600;
    /*color: #fff;*/
    /*height:80%;     */
    width:90%;
    background: #fff;
    padding:0;
}

.btn-updown{
    color: var(--btn-updown-font-color);
    background: var(--btn-updown-color);
    padding: 3px 20px;
    display: inline-block;
    border-radius: 0;
    border:none;
    text-decoration: none;
    cursor: pointer;
}
/*割引割増ボタン*/
.btn-changeVal{
    color: var(--wari-font-color);                 /*文字色*/
    background-color: var(--wari-bk-color);      /*背景色*/
    width:100%; 
    font-weight: 600;
}
.header-select{
    height: 30px; /* 高さを70pxに指定 */
    padding: 2px 2px; /* ヘッダーに上下左右それぞれ余白を指定 */
    box-sizing: border-box; /* padding分を含んで幅を100%にするため */
    position: fixed; /* ウィンドウを基準に画面に固定 */
    top: 70px; /* 上下の固定位置を上から0pxにする */
    left: 0; /* 左右の固定位置を左から0pxにする */
    width: 100%;
    z-index: 99;
    display: flex;
}
.header-plus-minus{
    height: 40px; /* 高さを70pxに指定 */
    padding-top: 5px; /* ヘッダーに余白を指定 */
    box-sizing: border-box; /* padding分を含んで幅を100%にするため */
    position: fixed; /* ウィンドウを基準に画面に固定 */
    top: 100px; /* 上下の固定位置を上から0pxにする */
    left: 0; /* 左右の固定位置を左から0pxにする */
    width: 100%;
    z-index: 99;
    display: flex;
}
body {
    padding-top: 140px; /* ヘッダーの後ろに要素が隠れないようにするため */
    padding-bottom:145px;  /*フッターーの後ろに要素が隠れないようにするため */
}

footer{
    background: var(--footer-color);
    height: 110px; /* 高さを指定 */
    position: fixed; /* ウィンドウを基準に画面に固定 */
    bottom: 0;
    Right: 0;
    width: 100%;
    display: flex;    
    flex-wrap:wrap;
    z-index: 99;
}
*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}



