/*色関連*/
:root {
    /*パネルボタンのカラー*/
    --panel-font-color: #6600ff;        /*文字色*/
    --panel-bk-color: #fff;          /*背景色*/
    --panel-bd-color: #0000ff;          /*枠線*/
    /*レジ画面・割引割増ボタンの色など*/
    --wari-font-color:#212529;          /*文字色*/
    --wari-bk-color:#fff;            /*背景色*/
    /*レジ画面・ジャンルバーのボタン・背景色など*/
    --btn-updown-color:#0000ff;         /*上下ボタンの色*/
    --btn-updown-font-color:#fff;    /*上下ボタンの文字色*/
    --jumpbar-color:#0000ff;            /*バーの背景色*/
    --categ-font-color:#fff;        /*カテゴリー名の文字色*/
    
    /*共通フッターカラー*/
    --footer-color:#7fffff;
    /*フッター枠線*/
    --rez-border-color:#0000ff;
    --rez-border-top:solid;
    /*レジ画面・登録ボタン*/
    --order-color:#2828ff;
    --order-font-color:#fff;
    /*レジ画面の釣銭・クリア・確認ボタン*/
    --chk-color:#fff;
    --chk-font-color:#0000ff;
    /*ヘッダーのタイトル文字色*/
    --title-color:#fff;
    --title-from:#000000; /*右下*/
    --title-to:#0000ff; /*左上*/
    --user-disp-color:#fff; /*Loginfont*/
    /*ハンバーガーメニュー*/
    --hamburger-3line-color:#fff;/*ボタン色・白*/
    
}
