html{
    scroll-behavior:smooth;
}
.yagou{
    width: 60%;
    height: 70%;
}

INPUT.ev{
    /*INPUT イベント名・店舗名部*/
    border-right:none;
    border-left:none;
    border-top:none;
    border-color:#fff;  /*下線・色固定*/
    text-align:center;
    font-size: 1.7rem;
    font-weight: 600;
    color: #fff;
    position: fixed;    /* ウィンドウを基準に画面に固定 */
    top: 0;             /* 上下の固定位置を上から0pxにする */
    right: 0;           /* 左右の固定位置を左から0pxにする */
    height:50px;
    width:16rem;
    /*background: #ff838b;*/
    background:transparent;
    padding:0;
}
/*電卓ボタン*/
.btn--dentaku{
    font-size: 2.0rem;
    width:100%;
    height:100%;
}
.dentaku--cellsize{
    width:25%;
    height:60px;
}
/*レジボタン*/
.btn--rezi{
    height:70%;
    width:100%;
    font-size: 1.8rem;
}
/*レジボタン マイナスマーク*/
.btn--rezi-minus{
    height:64.5%;
    width:5%;
    /*font-size: 2.0rem;*/
    position:absolute;
    top:5px;
    left:5px;
    bottom:5px;
    /*background:var(--minus-area-color);*/
    /*opacity:0.5;*/
    border-top-right-radius:0;
    border-bottom-right-radius:0;
    border-right:none;
    /*
    border-top:none;
    border-left:none;
    border-bottom:none;
    */
    padding-bottom:5px;
}
/*レジボタン税率*/
.btn--rezi-tax{
    height:15%;
    width:35%;
    font-size: 1.3rem;
    position:absolute;
    top:53%;
    left:60%;
    padding-top:10px;
    /*bottom:5px;*/
    /*background:var(--minus-area-color);*/
    /*opacity:0.5;*/
    border-top-right-radius:0;
    border-bottom-right-radius:0;
    border-right:none;
    /*
    border-top:none;
    border-left:none;
    border-bottom:none;
    padding-bottom:5px;
    */
}

INPUT.date{
    /*INPUT イベント名・店舗名部*/
    border-right:none;
    border-left:none;
    border-top:none;
    border-color:#fff;  /*下線・色固定*/

    font-size: 1.3rem;
    /*font-weight: 600;*/
    color: #fff;

    height:30%;
    width:9rem;
    background:transparent;
    padding:0;
}
INPUT{
    -webkit-border-radius : 0;
}

.items{
    padding:5px;
    height:13rem;
    line-height:80%;
    position:relative;

    background:transparent;
    text-align:center;
    font-size: 0;
}
@media screen and (max-width:400px) {
    .items{
        height:11rem;

    }
}
.ordered{
    width:100%;
    margin:0;
    padding:0;
    padding-top:5px;
    height:30%; /*itemsの下20％部分。上はメニューボタン*/
    line-height:21px;
    background:transparent;
    text-align:center;
    font-size: 2.2rem;
    font-weight: 700;
}
INPUT.order{
    border:none;
    text-align:left;
    font-size: 2.2rem;
    font-weight: 700;
    background:transparent;
}
INPUT.tanka{
    /*INPUT 単価部*/
    width:40%;
    padding:0;
    /*text-align:center;*/
    -webkit-appearance: none;
    -moz-appearance:textfield;
}
INPUT.su{
    /*INPUT 数量部*/
    width:20%;
    padding:0;
    -webkit-appearance: none;
    -moz-appearance:textfield;
}

.kaikei{
    height:50px;
    margin:0px 0 auto; /*中央寄せ*/
    font-size: 3.3rem;
    font-weight: 800;

    border:solid;
    border-top:var(--rez-border-top);
    border-top-width:thin;
    border-left:none;
    border-right:none;
    border-bottom:none;
    border-color:var(--rez-border-color);
}

.btn--commit{
    /*注文ボタン*/
    color: var(--order-font-color);
    background-color: var(--order-color);
    height:100%;
    width:100%;
    font-size: 2rem;
    border-radius:0;
    border:solid;
    border-width:thin;
    border-top:var(--rez-border-top);
    border-top-width:thin;
    border-left:none;
    border-right:none;
    border-bottom:none;
    border-color:var(--rez-border-color);
}
.btn--chk{
    /*確認ボタン*/
    color: var(--chk-font-color);
    background-color: var(--chk-color);
    height:100%;
    width:100%;
    font-size: 2rem;
    border-radius:0;
    /*border:none;*/

    border:solid;
    border-width:thin;
    border-top:var(--rez-border-top);
    border-top-width:thin;
    border-bottom:none;
    border-color:var(--rez-border-color);

}

.btn-updown{
    color: var(--btn-updown-font-color);
    background: var(--btn-updown-color);
    padding: 3px 20px;
    display: inline-block;
    border-radius: 0;
    border:none;
    text-decoration: none;
    cursor: pointer;
}
/*割引割増ボタン*/
.btn-changeVal{
    color: var(--wari-font-color);                 /*文字色*/
    background-color: var(--wari-bk-color);      /*背景色*/
    width:100%;
    font-weight: 600;
}
.header-select{
    height: 30px; /* 高さを指定 */
    padding: 2px 2px; /* ヘッダーに上下左右それぞれ余白を指定 */
    box-sizing: border-box; /* padding分を含んで幅を100%にするため */
    position: fixed; /* ウィンドウを基準に画面に固定 */
    top: 70px; /* 上下の固定位置を上から0pxにする */
    left: 0; /* 左右の固定位置を左から0pxにする */
    width: 100%;
    z-index: 99;
    display: flex;
}
.header-plus-minus{
    height: 55px; /* 高さを指定 */
    padding-top: 5px; /* ヘッダーに余白を指定 */
    padding-bottom: 5px; /* ヘッダーに余白を指定 */
    box-sizing: border-box; /* padding分を含んで幅を100%にするため */
    position: fixed; /* ウィンドウを基準に画面に固定 */
    top: 100px; /* 上下の固定位置を上から0pxにする */
    left: 0; /* 左右の固定位置を左から0pxにする */
    width: 100%;
    z-index: 99;
    /*display: inline-block;*/
    background:#fff;
    border-bottom:solid var(--panel-bd-color) 0.3px;
}
.common_body {
    padding-top: 210px; /* ヘッダーの後ろに要素が隠れないようにするため  160*/
    padding-bottom:145px;  /*フッターーの後ろに要素が隠れないようにするため */
}

.rezfooter{
    background: var(--footer-color);
    height: 110px; /* 高さを指定 */
    position: fixed; /* ウィンドウを基準に画面に固定 */
    bottom: 0;
    Right: 0;
    width: 100%;
    display: flex;
    flex-wrap:wrap;
    z-index: 99;
}
@media (display-mode: standalone){
  /* ここにPWA環境下でのみ実行する設定を記述 */
    .right3{
        /*クリアボタンエリア*/
        height:80px;
    }
    .right2{
        /*確認・登録ボタンエリア*/
        height:80px;
    }
    .right1{
        /*電卓ボタンエリア*/
        height:80px;
    }
    .rezfooter{
        height: 130px; /* 高さを指定 */
    }

}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

.urilist{
    height:450px;
    overflow:auto;
}
@media screen and (max-height:600px) {
.urilist{
    height:340px;
}
}
.address_disp{
    font-size:12px;
    /*
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    */
}
@media screen and (max-width:400px) {
    .address_disp{
        font-size:9px;
    }
}

.order_list{
    border:solid var(--panel-bd-color) 0.5px;
    width: 23.7%;
    position: fixed;
    overflow: auto;
    margin-top:26px;
    margin-right:3px;
}
.order_item{
    font-size:1.6rem;
    margin:5px;
    font-weight: 700;
}
.order_su{
    width: 25%;
    margin:5px;
    font-size:1.6rem;
    text-align:right;
}
.order_kin{
    width: 75%;
    margin:5px 10px;
    font-size:1.6rem;
    text-align:right;
    font-weight: 700;
}
.order_list_area_btn{
    padding:0px;
    height:24px;
    width:120px;
    border:solid var(--panel-bd-color) 0.3px;
    color: var(--panel-bd-color);
    background-color: var(--panel-bk-color);
    opacity: 0.7;
}
#side-pm>.plus::before,#side-pm>.plus::after,#side-pm>.minus::before {
    height: 15px;
    width: 5px;
    top:3.5px;
    left:19px;
    background-color: var(--panel-bd-color);
}
#header-pm>.plus::before,#header-pm>.plus::after,#header-pm>.minus::before {
    height: 17px;
    width: 3.5px;
    top:5px;
    left:23px;
}
#header-pm>.plus::before,#header-pm>.plus::after{
    background-color: #7bf2f7;
}
#header-pm>.minus::before {
    background-color: #ebee3f;
}

@media screen and (max-width:767px) {/*md以下*/
    .order_list{
        display:NONE;
    }
}
@media screen and (min-width:767px) {/*md以上*/
    .ordered{
        font-size:1.8rem;
    }
    .btn--rezi{
        font-size: 1.6rem;
    }
}
@media screen and (min-width:992px) {/*lg以上*/
    .order_list{
        width: 15.7%;
    }
}

.container {
    animation: fadein 0.7s ease-out forwards;
    padding:0 5px;
}
  
@keyframes fadein {
    0% {opacity: 0}
    100% {opacity: 1}
}
